body {
    background-image:url('bg.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom right;
    background-size: 232.75px 297.75px;
}

.md-typeset code {
    font-weight: 400;
    padding: 2px 4px 2px 4px;
}