.md-typeset h4 {
    color: black;
    font-size: large;
    font-weight: normal;
}

.md-typeset h5 {
    color: black;
    font-size: large;
    font-weight: normal;
}

.md-typeset h6 {
    color: black;
    font-size: large;
    font-weight: normal;
}

body {
    font-family: 'Fira Code''Fira''PingFang SC''Microsoft Yahei';
    background-image:url('bg.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom right;
    background-size: 232.75px 297.75px;
}

.md-typeset code {
    font-family: 'Fira Code';
    padding: 1px 3px 1px 3px;
}